<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books blog</title>
</head>
<body>
    {% for booksobj in object_list %}
        <div align="center">
            <img src="{{booksobj.coll_cover}}", height="200px" width="200px">
            <h2><a href="/books/{{booksobj.id}}/">{{booksobj.collection_name}}</a></h2>
            <h3>{{booksobj.description}}</h3>
            <br />
        </div>
    {% endfor %}
</body>
</html>