<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <!-- {% for pieceobj in collection.piece_set.all %}
    <div align="center">
        <img src="{{pieceobj.piececover}}" height="200px" width="200px">
        <h2>{{pieceobj.title}}</h2>
        <h2>{{pieceobj.author}}</h2>
        <h3>{{pieceobj.year}}</h3>
        <br />
    </div>
    {% endfor %} -->

    
    {% for pieceobj in collection.piece_set.all %}
        <div align="center">
            <img src="{{pieceobj.piececover}}", height="200px" width="200px">
            <h2><a href="/books/{{pieceobj.id}}/">{{pieceobj.title}}</a></h2>
            <h2>{{pieceobj.author}}</h2>
            <h3>{{pieceobj.year}}</h3>
            <br />
        </div>
    {% endfor %}

</body>
</html>