<!DOCTYPE html>
{% extends 'books/base.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    {% block content %}
        <form action="" method="post">
            <!-- always include in cross site requset forgery(csrf) token whenever youre using a post method and not using external url-->
            {%csrf_token%}
            <div>
                username:
                <input type="text" name="username">
                <br />
                email:
                <input type="email" name="email">
                <br />
                password:
                <input type="password" name="password">
                <br />
                <input type="submit" value="submit">
    
            </div>
           
        </form>
    {% endblock %}
</body>
</html>